.cabecalho{
    background-color: var--(--branco);
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu{
    display: inline-block;
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}
.conteiner{
    display: flex;
    justify-content: space-between;
}

.conteiner__imagem{
    padding: 1em;
}
.lista__menu {
    display: none;
}
.conteiner__botao:checked~.lista__menu {
    display: block;
}