.cabecalho{
    background-color: var--(--branco);
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu{
    display: inline-block;
    background-image: url("../img/logobi.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}
